<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>{{ title }}</h1>
   
    <img src="images/me.jpeg" alt="">
     <p>Created by: {{ author }}</p>
    <script src="js/script.js"></script>
</body>
</html>