    <header class="main-head">
        <nav>
            <h1 id="logo">Weather App</h1>
            <ul>
               
                    
                    <li>
                    <form class="search">
                        <button type="submit"><i class="fa fa-location-arrow"></i></button>
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>